<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        <ion-icon name="mail" style="zoom:1.5;"></ion-icon>
        Novo Cadastro
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
  
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input id="email2" formControlName="email"  type="email"  placeholder="Seu endereço de email" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
        </ion-input>
      </ion-item> 
      <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
        <p>Por favor  entre com um email válido.</p>
      </ion-item>
  
      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input id="password2" formControlName="password"   type="password" placeholder="Sua senha" [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
        </ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
        <p>Sua senha precisa ter 6 dígitos.</p>
      </ion-item>
  
      <button ion-button block type="submit" id="login2" [disabled]="!signupForm.valid">
        Criar conta
      </button>
    </form>
  </ion-content>
  