<ion-header>
</ion-header>


<ion-content padding>
  <div class="center">
    <img src="assets/img/graduation2.png">
  </div>  
    <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
      <ion-item>
        <ion-label stacked>Email</ion-label>
          <ion-input formControlName="email" id="email" type="email" placeholder="Seu endereço de email"
            [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
          </ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
      <p>Por favor entre com um email válido.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Senha</ion-label> 
        <ion-input formControlName="password"
        id="password" type="password" placeholder="Sua senha" 
          [class.invalid]="!loginForm.controls.password.valid && 
            loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" 
      *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
      <p>Sua senha precisa ter 6 dígitos.</p>
    </ion-item>

    <button class="button" id="login" ion-button block type="submit" [disabled]="!loginForm.valid">
      <ion-icon name="mail" style="text-align: left" style="zoom:1.3;"> Entrar</ion-icon>
    </button>
  </form>

  <button id="cadastro" ion-button block clear  (click)="goToSignup()">
    <p>Criar uma nova conta</p>
  </button>

    <!-- <button ion-button block (click)="loginFacebook()">
      <ion-icon name="logo-facebook" style="text-align: left" style="zoom:1.3;"> Facebook</ion-icon> 
    </button>
  

    <button ion-button block (click)="loginGoogle()" color="danger">
      <ion-icon name="logo-google" style="text-align: left" style="zoom:1.3;"> Google</ion-icon> 
    </button> -->
 

    <button id="recuperar" ion-button block clear  (click)="goToResetPassword()">
      Esqueci minha senha :(
    </button>

</ion-content>
