    <!-- <ion-header no-border>
      <ion-navbar color="secondary">
            
    <button id="menu" ion-button menuToggle color="light">
      <ion-icon name="menu" style="zoom:1.5;"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button icon-only id="perfil" (click)="verPerfil()">
        <ion-icon name="person" style="zoom:1.5;"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
       
    </ion-title>

  </ion-navbar>
</ion-header> -->

<ion-content fullscreen>

  <ion-segment>
    <ion-segment-button value="fotos">
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngFor="let card of cards">
    <ion-item>
      <ion-avatar item-left>
        <img src="assets/img/graduation2.png"/>
      </ion-avatar>
      <h2>{{card.nome}}</h2>
      <p>{{card.titulo}}</p>
    </ion-item>
    <img [src]="card.foto" />
    <ion-card-content>
      {{card.texto}}
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Curtidas</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comentários</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h atrás
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
<!-- 
  <ion-card *ngFor="let video of videos">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="video.avatar" />
      </ion-avatar>
      <h2>{{video.nome}}</h2>
      <p>{{video.titulo}}</p>
    </ion-item>
    <ion-card-content>
      <iframe width="100%" height="315" [src]="video.video | youtube" frameborder="0" allowfullscreen="true"></iframe>
    </ion-card-content>
  </ion-card> -->


  <!-- <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Curtidas</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>4 Comentários</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h atrás
      </ion-note>
    </ion-col>
  </ion-row> -->



</ion-content>